*{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pokemon{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: "header header";
    font-size: 24px;   
}

.pokemon-blurb{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "head head head";
    column-gap: 20px;
}

#article-header{
    background-color: lightsalmon;
    grid-area: head;
    padding: 40px;
}

h1{
    grid-area: header;
    text-align: center;
    margin: 50px;
    color: black;
}

h2{
    margin:50px;
}

.pikachu{
    background-color: yellow;
    padding: 40px;
}

.bulbasaur{
    background-color: lightgreen;
    padding: 40px;
}


